@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

	BlogPost currentPost = new BlogPost(Model.Content);
}

@currentPost.introduction

<br />

<a href="@currentPost.linkedPage.Url">@currentPost.linkedPage.Name</a>

<br />
Author: <a href="@currentPost.author.Content.Url">@currentPost.author.Content.Name</a>
@*@CurrentPage.GetGridHtml("content", "fanoe")*@

