@inherits ConcreteContentTypes.Core.ViewTemplates.ConcreteViewPage<BlogPost>
@{
	Layout = "Master.cshtml";
}

<br />

<div class="light">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div>
					Author: <a href="@Model.Author.Url">@Model.Author.Name</a>
					@if (Model.Image != null)
					{
						<img src="@Model.Image.Url" width="@Model.Image.Width" height="@Model.Image.Height" alt="@Model.Image.Name" />
					}
				</div>
			</div>
		</div>
	</div>
</div>

@Html.Raw(Model.content)

@Html.Action("RenderSubmitCommentForm", "BlogPost", new { blogPost = Model })

@Html.Partial("BlogComments", Model.Children.ToList())