@inherits ConcreteContentTypes.Core.ViewTemplates.ConcreteViewPage<BlogPost>
@{
	Layout = "Master.cshtml";

}

<br />

<div class="light">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div>
					Author: <a href="@Model.Author.Url">@Model.Author.Name</a>
				</div>
			</div>
		</div>
	</div>
</div>

@Html.Raw(Model.content)


@Html.Partial("BlogSubmitComment", new BlogComment() { ParentId = Model.Id })

@Html.Partial("BlogComments", Model.Children.ToList())