@inherits ConcreteContentTypes.Core.ViewTemplates.ConcreteViewPage<MoreEverything>
@{
	Layout = "EverythingMaster.cshtml";
}

@section more {

	Umbraco Navi Hide: @Model.HideInBottomNavigation <br />

	Blog Authors: <br />
	<ul>
		@foreach (var author in Model.BlogAuthors)
		{
			<li><a href="@author.Url">@author.Name</a></li>
		}
	</ul>
	<br />
	Multiple Nodes: <br />
	<ul>
		@foreach (var node in Model.MultipleNodes)
		{
			<li><a href="@node.Url">@node.Name</a></li>
		}
	</ul>

	<br /><br />
	Names Check Box: @Model.NamesCheckBox
}